@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/light.scss";
@import "reset.scss";

* {
  font-family: "Roboto", sans-serif;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.actions {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: 1px solid gray;
  width: fit-content;
  padding: 5px 12px;
  border-radius: 8px;
  margin: 10px;
}
