* {
  font-family: sans-serif;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* body {
  margin: 0;
  padding: 2rem;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th,
td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
} */

table {
  position: relative;
  height: 500px;
  overflow-y: scroll;
}

th {
  background-color: #009879;
  color: #fff;
  position: sticky;
  top: 0;
}

tfoot tr {
  background-color: #fff;
  position: sticky;
  bottom: 0;
}

tfoot tr td {
  padding: 0 !important;
}

tr:hover {
  background-color: rgb(212, 248, 235) !important;
}
