.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  pointer-events: none;
  // z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-self: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
}

.opened {
  pointer-events: auto;
  opacity: 1;
}
